/**
 * Place your custom styles here.
 */
@import url('https://fonts.googleapis.com/css?family=Amiri');

body{
	font-family: 'Amiri', serif;
  background: url(../images/head.png);
  background-repeat: no-repeat;
  width: 100%;
  font-size: 20px;
}
a{
	color: #065A6A;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
a:hover{
	color: #067280;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #065A6A;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #065A6A;
  background-color: transparent;
  border-bottom: 5px solid #065A6A;
}

.front #block-system-main,
.front .main-container h1{
	display: none;
}
