/**
 * Place your custom styles here.
 */
@import url('https://fonts.googleapis.com/css?family=Amiri');

body{
	font-family: 'Amiri', serif;
  font-size: 20px;
  background: url(../images/head.png);
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 100px;
}
a, .navbar-default .navbar-nav > li > a {
	color: #065A6A;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
a:hover, .navbar-default .navbar-nav > li > a:hover {
	color: #067280;
}
li{
  list-style: none;
}
.field-label{
  color: #0894a5
}
.navbar-default {
  background-color: transparent;
  border: 0;
}
#navbar ul.menu {
  margin-top: 70px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #065A6A;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #065A6A;
  background-color: transparent;
  border-bottom: 5px solid #065A6A;
}
.social-icons {
  margin-right: 29px;
}
.front #block-system-main,
.front .main-container h1{
	display: none;
}
.sticky-bottom {
  /* just for demo */
  text-align:center;
  padding:20px;
	color: #fff;
  background-color: #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.sticky-bottom audio{
  display: inline-block;
  vertical-align: baseline;
  width: 73%;
}
.ticker-wrapper {
  background: #f1f1f1;
  font-size: 16px;
  line-height: 35px;
}
.ticker-wrapper ul{
  margin-bottom: 0px;
}
.ticker-wrapper h3{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #c5ecf1;
  padding: 8px;
  color: #0894A5;
  font-weight: bold;
  font-size: 16px;
}

/*Fatawa detail*/
.node-fatawa .field{
    margin: 25px 0;
}
/*End Fatawa detail*/

.playlink, .downloadlink {
  float: left;
  padding: 0 0 0 14px;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
}
.playlink {
  background-image: url(/sites/all/themes/mir/images/play.png);
  background-repeat: no-repeat;
  background-position: -31px 4px;
}
.downloadlink {
  background-image: url(/sites/all/themes/mir/images/download.png);
  margin: 0 0 0 14px;
}
