/**
 * Place your custom styles here.
 */
@import url('https://fonts.googleapis.com/css?family=Amiri');

body{
	font-family: 'Amiri', serif;
  font-size: 15px;
  background: url(../images/head.png);
  background-repeat: no-repeat;
  width: 100%;
}
body.player-visible{
  padding-bottom: 60px;
}
.centered{
  text-align: center;
}
.h2, h2 {
  font-size: 20px;
}
h2 a {
  font-size: 20px;
}
a, .navbar-default .navbar-nav > li > a {
  color: #065A6A;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a {
  padding: 0px 12px;
}
a:hover, .navbar-default .navbar-nav > li > a:hover {
	color: #067280;
  text-decoration: none;
}
li{
  list-style: none;
}
.field-label{
  color: #0894a5
}
i.fa.fa-4 {
  font-size: 101px;
}

.navbar.container,.navbar.container-fluid {
   margin-top:0px
  background: url(/sites/all/themes/mir/images/head.png) 2px 0px;
  background-repeat: no-repeat;
}
.block-wrapper {
  margin-bottom: 30px;
}
.navbar.container,
.navbar.container-fluid{
  margin-top: 0;
}
.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar {
  margin-bottom: 0px;
}
#navbar ul.menu {
  margin-top: 70px;
}

.navbar-default .navbar-nav a{
  color: #065A6A;
  border-bottom: 4px solid #a7e1e8;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav a:focus{
  color: #065A6A;
  background: transparent;
  border-bottom: 5px solid #0894a5;
}
ul li.collapsed, ul li.expanded, ul li.leaf {
  list-style: none;
  margin-right: 20px;
}
.social-icons {
  padding-top: 4px;
}
.social-icons .fa{
  font-size:18px
}

.front #block-system-main,
.front .main-container h1{
	display: none;
}
.view-display-id-tafrigh .views-field.views-field-field-tafrigh-category {
  background: #0894a5;
  color: #fff;
  padding: 6px 4px 4px;
  font-size: 11px;
}
.view-display-id-tafrigh .col{
  text-align: center;
  margin-bottom: 25px;
}
.view-display-id-tafrigh .views-field.views-field-title {
  margin: 3px 0;
}
.latest-wrapper .views-field-field-scholar-1 {
  color: #0894a5;
  font-size: 12px;
  padding: 5px 0 5px;
  text-align: center;
}
.sticky-bottom {
  /* just for demo */
  text-align:center;
  padding:20px;
  color: #fff;
  background-color: #ccc;
  position: fixed;
  bottom: -60px;
  height: 60px;
  width: 100%;
}
.sticky-bottom.visible {
  /* just for demo */
  text-align:center;
  bottom: 0;
}
.sticky-bottom audio{
  display: inline-block;
  vertical-align: baseline;
  width: 73%;
}
.audio-player-wrapper{
  position: relative
}
.toggle-show{
  position: absolute;
  right: -21px;
  top: -46px;
  background: #000;
  padding: 5px 8px 0px;
}
.ticker-wrapper .sub-title:before{
  height: 38px;
}
.ticker-wrapper .sub-title{
  height: 38px;
  padding-top: 8px;
}
.ticker-wrapper {
  background: #f8f8f8;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 40px;
}
.ticker-wrapper ul{
  margin-bottom: 0px;
}
.sub-title-wrapper{
  position: relative;
}
h2.sub-title{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px;
  color: #363636;
  font-weight: bold;
  font-size: 16px;
  margin-right: 16px;
  background: #c5ecf1;
  height: 30px;
}
h2.sub-title:before{
  content: "";
  position: absolute;
  right: -1px;
  top: 0px;
  height: 30px;
  width: 10px;
  background-color: #0894A5;
}
/*Fatawa detail*/
.node-fatawa .field{
    margin: 25px 0;
}
/*End Fatawa detail*/

.playlink, .downloadlink {
  float: left;
  padding: 0 0 0 14px;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
}
.playlink {
  background-image: url(/sites/all/themes/mir/images/play.png);
  background-repeat: no-repeat;
  background-position: -31px 4px;
}
.downloadlink {
  background-image: url(/sites/all/themes/mir/images/download.png);
  margin: 0 0 0 14px;
}

.side-bar-first {
    background: rgba(224, 224, 224, 0.23);
    padding-top: 10px;
    padding-bottom: 20px;
}
.main-radio-player-wrapper .main-radio-player {
  background: #fff;
  padding: 10px;
}
.block-wrapper.main-radio-player-wrapper {
  background: #fff;
}
.mic-wrapper{
  margin-top: 20px;
}
.main-radio-player .table{
  margin-bottom: 0px;
}
.tweet-feed {
  height: 500px;
  overflow: scroll;
}
/*radios*/

.radio-wrapper h2 {
  background-color: #cddcf6;
  padding: 8px;
  color: #243b64;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
  position: relative;
}
/*page fatwa*/
.page-node.node-type-fatawa h1{
  display: none;
}
/*To replace related sites*/
.custom-button {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 15px 20px;
  margin: 20px 0;
  -webkit-transition: 0.25s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  -o-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all;
}
.custom-button-wrap {
  display: block;
  margin-left: 30px;
}
.custom-button-icon {
  display: block;
  float: left;
  font-size: 20px;
  line-height: 24px;
}
.custom-button-title {
  display: block;
  color: #fff7e3;
}
.custom-button-tagline {
  display: block;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.custom-button-icon,
.custom-button-tagline {
  color: #ffe8a4;
  opacity: 1;
}
.custom-button:hover {
  -moz-border-radius: 0 0 20px 0;
  -webkit-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}
.custom-button em {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 30;
  -moz-box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3);
  -webkit-box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3);
  box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3);
  -webkit-transition: 0.25s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  -o-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all;
}
.custom-button:hover em {
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(-10deg) translate3d( 0, 0, 0);
  -moz-transform: rotate(-10deg) translate3d( 0, 0, 0);
  -o-transform: rotate(-10deg) translate3d( 0, 0, 0);
  transform: rotate(-10deg) translate3d( 0, 0, 0);
}
/*End of related sites*/
h2.block-title {
  padding: 6px;
  color: #363636;
  font-weight: bold;
  font-size: 16px;
  background: #c5ecf1;
  height: 30px;
  margin-bottom: 0;
}
.facetapi-facetapi-links {
  padding-right: 0;
  padding: 20px 0;
  background: rgba(224,224,224,0.23);
}
.page-node .node-type-fatawa h1{
  display: none;
}
.page-node .node-type-article{
  max-width: 600px;
  font-size: 20px;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar-collapse nav{
    float: left;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .node-type-fatawa section#block-system-main,
  .node-type-makalate section#block-system-main {
    max-width: 600px;
    font-size: 18px;
    line-height: 30px;
    padding-right: 100px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .navbar.container {
    max-width: 1170px;
  }

}


/* Tab style*/

/* Tabs panel */

.latest-wrapper .sub-title-wrapper {
  margin-bottom: 20px;
}
.col .views-field-title {
  text-align: center;
  margin-top: 20px;
}
.latest-wrapper {
  border-bottom: solid 3px #ccc;
  margin-bottom: 40px;
}
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}
ul.pager {
  margin: 0;
}
.latest-wrapper .views-field-field-image,
.latest-wrapper .views-field-field-cover {
  min-height: 235px;
}
/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #a7e1e8;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #0894a5;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/*b3 overrides*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #066275;
  border-color: #066275;
}
.pagination>li>a, .pagination>li>span {
  color: #066275;
}
.carousel-control.left {
  left: auto;
  right: 0;
}
.carousel-control.right {
  right: auto;
  left: 0;
}
.carousel-indicators .active {
  background-color: #c5ecf1;
}

.site-footer footer{
  color: #fff;
}

.view-latest-videos .views-field.views-field-title {
  min-height: 37px;
  text-align: center;
}
.latest-wrapper .col-lg-4 {
  margin: 10px 0 40px;
}

span.flag-wrapper.flag-report a {
  color: #ea0b0b;
  font-size: 10px
}
.node .field {
  margin-bottom: 10px;
}
.view-display-id-page_12 .col .views-field-title {
  text-align: center;
  margin-top: 20px;
}
.view-display-id-page_12 .col{
  margin-bottom:30px
}
.view-display-id-page_12 .views-field.views-field-field-bitaka {
  min-height: 195px;
}

.view-taxonomy-term .views-row {
  margin-bottom: 70px;
  border-bottom: 3px solid #0994a5;
}
