/**
 * Aloha-related style
 */

.aloha-editable {
  -webkit-transition: background-color .6s ease-out;
  -moz-transition: background-color .6s ease-out;
  transition: background-color .6s ease-out;
}

.aloha-editable:hover {
  outline: #999 dashed 1px;
  background: rgba(255, 255, 200, 0.4);
}
.aloha-editable-active {
  background: rgba(255, 255, 200, 0.4);
  outline: #999 dashed 1px;
}

.aloha-status {
  background: #ccffcc;
  padding: 2px;
}

.aloha-error {
  background: #ffcccc;
  padding: 2px;
}

.aloha-target {
  display: none;
}
